html {
  font-size: 62.5%;
  scroll-behavior: auto;
}

#root {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100svh;
  height: 100vh;

  overflow: hidden;
}

canvas {
  display: block;
}

// .scroll {
//   position: fixed;
//   top: 0;
//   left: 0;

//   font-size: 6rem;

//   color: white;
// }

.contacts {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(1rem);

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;

    padding: 1.5rem;

    color: hsl(216, 57%, 59%);

    // @supports (background-clip: text) or (-webkit-background-clip: text) {
    //   color: transparent;
    //   background-clip: text;
    //   -webkit-background-clip: text;
    //   background-image: url(https://media.giphy.com/media/xULW8Fw2ZhznUptrYA/giphy.gif);
    //   background-size: cover;
    //   background-position: center;
    // }
  }
}
